@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Regular.woff2') format('woff2'), url('TTF/IosevkaAile-Regular.ttf') format('truetype');
}